* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  background-color: antiquewhite;
  /* filter: blur();
  backdrop-filter: blur(200px); */
}

.center {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: (-50%, -50%);
  text-align: center;
  margin: auto;
}

.player {
  transition: all 0.75s;
}
.player--0 {
  display: flex;
  align-items: center;
  background-color: crimson;
  position: absolute;
  left: 81.5px;
  top: 40px;
  border-radius: 10px;
  transition: all 0.75s;
  width: 350px;
  height: 250px;
}
.player--1 {
  display: flex;
  align-items: center;
  background-color: rgb(63, 156, 63);
  position: absolute;
  left: 81.5px;
  top: 62.7%;
  transition: all 0.75s;
  width: 350px;
  height: 250px;
}
.player--3 {
  display: flex;
  align-items: center;
  background-color: rgb(238, 128, 205);
  position: absolute;
  right: 81.5px;
  top: 40px;
  transition: all 0.75s;
  width: 350px;
  height: 250px;
}
.player--2 {
  display: flex;
  align-items: center;
  background-color: gold;
  position: absolute;
  right: 81.5px;
  top: 62.7%;
  transition: all 0.75s;
  width: 350px;
  height: 250px;
}
.btn--new {
  transition: all 0.75s;

  /* align-items: center; */
  position: absolute;
  top: 5%;
  left: 46.5%;
  /* top: 50%; */
}
.start {
  position: relative;
  width: 180px;
  height: 180px;
  display: block;
  background-color: aliceblue;
  border-radius: 10px;
  transition: all 0.75s;
  margin-left: 10px;
  margin-right: 10px;
}
.current {
  height: 100px;
  width: 120px;
  border-radius: 20px;
  background-color: white;
  margin: 0 15px;
  transition: all 0.75s;
}
.start h2 {
  padding: 33px 42px;
}
.start p {
  padding: 12px 86px;
}
.current-label {
  padding: 20px 34px;
}
.current-score {
  padding: 0px 55px;
}
.btn--0 {
  position: absolute;
  top: 19%;
  left: 34%;
  cursor: pointer;
}
.btn--1 {
  position: absolute;
  top: 79%;
  left: 34%;
  cursor: pointer;
}
.btn--2 {
  position: absolute;
  top: 79%;
  left: 58.5%;
  cursor: pointer;
}
.btn--3 {
  position: absolute;
  top: 19%;
  left: 58.5%;
  cursor: pointer;
}
.btn {
  height: 38px;
  width: 104px;
  border-radius: 10px;
  border: 0;
  transition: all 0.75s;
  cursor: pointer;
}
.dice {
  position: absolute;
  left: 50%;
  top: 24rem;
  transform: translateX(-50%);
  height: 6rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transition: all 1s;
}
.hidden {
  display: none;
}
.player--inactive {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--inactive .name {
  font-weight: 700;
}
.player--inactive .score {
  font-weight: 450;
}

.player--inactive .current {
  opacity: 3;
}
.winner {
  /* display: flex; */
  align-items: center;
  width: 476px;
  height: 300px;
  position: relative;
  top: 30%;
  left: 33.6%;
  background-color: chartreuse;
  border-radius: 8px;
  box-shadow: 2px 2px 30px black;
}
.winner h1 {
  position: absolute;
  top: 38%;
  padding: 20px 20px;
}
.winner button {
  position: relative;
  cursor: pointer;
  left: 91%;
  top: 3%;
  width: 30px;
  font-size: 25px;
  border: 0;
}
